<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	
	<!-- metadata -->
		<meta charset="utf-8" />
		<meta name="author" content="Abdul Kareem" />
		<meta name="description" content="Assignment for Web Application Programming." />
		<meta name="keywords" content="WAP,985262,CSS,HTML" />
	
	<!-- style sheet links -->
	<link type="text/css" rel="stylesheet" href="../themes/default/default.css" >
	
</head>
<body>
<h1 class="PageTitle">About Abdul Kareem</h1>
<h3>My name is Abdul Kareem. I am <strong>polite</strong> by nature.</h3>

<!-- Side Panel -->
<aside>
<ol>
	<li><b>My Classes This Quarter</b>
		<ul>
			<li><ins><abbr title="Modern Programming Practices">MPP</abbr> ✔</ins></li>
			<li><ins>Software Engineering ✔</ins></li>
			<li><ins>Enterprise Architecture ✔</ins></li>
			<li>Web Application Programming</li>
			<li>Web Application Architecture</li>
		</ul>
	</li>
	<li><b>My Favorite movies</b>
		<ol reversed>
			<li>The Accountant - 2016 (<a href="http://www.imdb.com/title/tt2140479/?ref_=nv_sr_1">IMDb</a>)
				<dl>
					<dt>Stars</dt><dd>  Ben Affleck, Anna Kendrick, J.K. Simmons </dd>
					<dt>Director</dt><dd> Gavin O'Connor </dd>
					<dt>Writer</dt><dd>  Bill Dubuque  </dd>
				</dl>
			</li>
			<li>The Accountant - 2006 (<a href="http://www.imdb.com/title/tt0940808/?ref_=fn_al_tt_1">IMDb</a>)
				<dl>
					<dt>Stars</dt><dd> Jet Li, Beau Weaver, Ronny Yu </dd>
					<dt>Director</dt><dd>Ronny Yu</dd>
					<dt>Writer</dt><dd> Stanley J. Orzel </dd>
				</dl>
			</li>
			<li>Raajneeti - 2010 (<a href="http://www.imdb.com/title/tt1291465/?ref_=nv_sr_2">IMDb</a>)
				<dl>
					<dt>Stars</dt><dd>  Naseeruddin Shah, Arjun Rampal, Nana Patekar  </dd>
					<dt>Director</dt><dd> Prakash Jha </dd>
					<dt>Writer</dt><dd>  Prakash Jha, Anjum Rajabali </dd>
				</dl>
			</li>
		</ol>
	</li>
	<li> <b>My Moods</b>
		<br>
			Happy<img class="SmallDp" alt=":)" src="../themes/default/images/happy.jpg" >
			Sad<img class="SmallDp" alt=":(" src="../themes/default/images/sad.jpg" >
			
	</li>
	<li> <b>Fun Facts About My Neighbors</b>
		<dl>
			<dt>SAMEER</dt><dd> We studied three courses togather.We are also in same dorme.He is a <em>kind</em> person. And is <em>enthosistic</em> to expand his IT Skills.</dd>
		</dl>
	</li>
	
</ol>
</aside>
<nav>
<a href="../index.html"> Back to Home </a>
</nav>

<!-- Footer -->
<footer>
	<a href="http://validator.w3.org/check/referer"><img src="../themes/default/images/w3c-html.png" alt="Valid HTML5" /></a>
	<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="../themes/default/images/w3c-css.png" alt="Valid CSS" /></a>
    <a href="http://mumstudents.org/jshint/referer.php"><img src="../themes/default/images/jshint-small.png" alt="Valid JS"/></a>                                
</footer>

</body>
</html>