<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Rudy!</title>
<script type="text/javascript" src="rudy.js" ></script>
</head>
<body>

<button onclick="rudyTimer();">Click me!</button>
<span id="output"></span>

<!-- Footer -->
<footer style="bottom:0px;right:0px;position:fixed;">
	<a href="http://validator.w3.org/check/referer"><img src="../../themes/default/images/w3c-html.png" alt="Valid HTML5" /></a>
	<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="../../themes/default/images/w3c-css.png" alt="Valid CSS" /></a>
    <a href="http://mumstudents.org/jshint/referer.php"><img src="../../themes/default/images/jshint-small.png" alt="Valid JS"/></a>                                
</footer>

</body>
</html>