<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Modules and Closure</title>
 <script type="text/javascript" src="modules.js" ></script>
</head>
<body>
<div>
Account Name: <input type="text" id="accountName">
</div>
<div>
Deposit: <input type="text" id="accountDeposit">
</div>
<div>
<input type="button" id="create" value="Create New Account">
</div>
<div>
<textarea rows="8" cols="100" id="userConsole" ></textarea>
</div>
<!-- Footer -->
<footer style="bottom:0px;right:0px;position:fixed;">
	<a href="http://validator.w3.org/check/referer"><img src="../../themes/default/images/w3c-html.png" alt="Valid HTML5" /></a>
	<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="../../themes/default/images/w3c-css.png" alt="Valid CSS" /></a>
<a href="https://webster.cs.washington.edu/jslint/?referer"><img src="https://webster.cs.washington.edu/w3c-js.png" alt="Valid JS"></a>
</footer>

</body>
</html>